$font-family: "Montserrat", sans-serif;
$second-family: "Bebas Neue Cyrillic", sans-serif;

$transition:  .4s ease-in-out;

$white: #fff;
$gray: #f1f1f3;
$black: #181818;
$red: #e40e20;
$gray-80: #3f3f3f;
$gray-90: #2a2a2a;


