@use "../default/mixins";
@use "../variables" as *;

.header {
  background:    $white;
  border-bottom: 1px solid $black;
  position:      fixed;
  top:           0;
  left:          0;
  right:         0;
  margin:        0 auto;
  z-index:       10;

  .container {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding-top:     20px;
    padding-bottom:  20px;

    @include mixins.laptopXL {
      padding-top:    14px;
      padding-bottom: 14px;
    }
  }

  .custom-logo-link {
    width:  243px;
    height: 64px;

    img {
      max-width: 100%;
      height:    auto;
    }

    @include mixins.laptopXL {
      width:  178px;
      height: 47px;
    }

    @include mixins.mobile {
      width:  123px;
      height: 32px;
    }

  }

  .menu {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    column-gap:      32px;

    @include mixins.laptopXL {
      column-gap: 20px;
    }

    @include mixins.mobile {
      flex-direction: column;
      align-items:    flex-start;
      row-gap:        24px;
      margin-bottom:  54px;


    }

    &-item {
      padding-bottom: 2px;
      color:          $black;
      border-bottom:  1px solid transparent;


      a {
        font-size: 20px;

        @include mixins.laptopXL {
          font-size: 16px;
        }

        @include mixins.mobile {
          font-size: 32px;
        }

      }

      &.current-menu-item {
        border-color: $red;
      }

      @include mixins.hover {
        color: $red;
      }
    }
  }

  &__nav {
    @include mixins.mobile {
      transform:           translateX(300%);
      transition:          all $transition;
      position:            fixed;
      top:                 61px;
      left:                0;
      width:               100%;
      height:              calc(100dvh - 61px);
      overflow-y:          auto;
      background-color:    $white;
      z-index:             20;
      padding:             40px 20px 20px;
      background-image:    url("./assets/images/bg-nav.png");
      background-repeat:   no-repeat;
      background-size:     calc(100% - 40px);
      background-position: center calc(100% - 20px);

      &._active {
        transform:  translateX(0);
        transition: all $transition;
      }
    }

  }

  &__phone {
    display:     flex;
    align-items: center;
    column-gap:  24px;

    @include mixins.laptopXL {
      column-gap: 14px;
    }

    @include mixins.mobile {
      margin-left:  auto;
      margin-right: 14px;
    }

    span {
      font-size:  20px;
      color:      $black;
      transition: color $transition;

      @include mixins.laptopXL {
        font-size: 16px;
      }
    }

    svg {
      width:  40px;
      height: 40px;

      @include mixins.laptopXL {
        width:  30px;
        height: 30px;
      }

      @include mixins.mobile {
        width:  32px;
        height: 32px;
      }
    }

    @include mixins.hover {
      span {
        color: $red;
      }

      svg {
        rect {
          fill: $gray-80;

        }

        path {
          fill: $white;
        }
      }
    }

  }

  &__mobile-block {
    display: none;

    @include mixins.mobile {
      display: block;
    }

    span {
      display:       block;
      margin-bottom: 14px;
      font-size:     14px;
      color:         rgba(24, 24, 24, 0.4);
    }

    p {
      margin-bottom: 18px;
      color:         $black;
    }

    > a {
      color:   $black;
      display: block;

      &:first-of-type {
        margin-bottom: 8px;
      }

      &:last-of-type {
        margin-bottom: 18px;
      }
    }


  }

  &__socials {
    display:       flex;
    column-gap:    12px;
    margin-bottom: 205px;

    a {
      display: block;
      width:   30px;
      height:  30px;
    }
  }

  &__hamburger {
    display:          none;
    width:            32px;
    height:           32px;
    justify-content:  center;
    align-items:      center;
    row-gap:          6px;
    flex-direction:   column;
    background-color: transparent;
    border-radius:    100%;
    cursor:           pointer;

    @include mixins.mobile {
      display: flex;
    }

    span {
      width:            22px;
      height:           2px;
      background-color: $black;
      transition:       all .6s;
    }

    &._active {
      span {
        &:first-child {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-8px) rotate(135deg);
        }
      }
    }
  }
}

.single-vacancies {
  .menu-item-38 {
    border-color: $red;
  }
}

.single-news {
  .menu-item-39 {
    border-color: $red;
  }
}